$color-text: #222222;
$color-link: #750e51;
$color-gray: #e5e5e5;

$width-body: 860px;
$width-sidebar: 270px;
$width-section: 500px;

$font-size-large: 28px;
$font-size-normal: 14px;
$font-size-small: 11px;

$gap-large: 50px;
$gap-normal: 20px;
$gap-half: 10px;
$gap-small: 5px;
