@import "fonts";
@import "constants";

body {
  background-color: #fff;
  margin: 0;
  padding: $gap-large;
  font: $font-size-normal "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: $color-text;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-text;
  margin: 0 0 $gap-normal;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 $gap-normal;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: $font-size-large;
}

a {
  color: $color-link;
  text-decoration: none;

  &:hover,
  &:focus {
    color: darken($color-link, 10%);
    text-decoration: underline;
  }
}

div.wrapper {
  width: $width-body;
  margin: 0 auto;
}

blockquote {
  border-left: 1px solid $color-gray;
  margin: 0;
  padding: 0 0 0 $gap-normal;
}

code, pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color: $color-text;
}

pre {
  padding: $gap-half;
  background: #f8f8f8;
  border-radius: $gap-small;
  border: 1px solid $color-gray;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;

  > tbody > tr:last-child > td {
    border-bottom: 0;
  }
}

th, td {
  text-align: left;
  padding: $gap-small;
  border-bottom: 1px solid $color-gray;
}

th {
  color: #444;
}

img {
  max-width: 100%;
}

header {
  width: $width-sidebar;
  float: left;
  position: fixed;
  -webkit-font-smoothing: subpixel-antialiased;

  nav {
    margin: $gap-normal 0;
    display: flex;
    flex-direction: column;
    gap: $gap-half;
  }
}

strong {
  font-weight: 700;
}

section {
  width: $width-section;
  float: right;
  padding-bottom: $gap-large;
}

small {
  font-size: $font-size-small;
}

hr {
  border: 0;
  background: $color-gray;
  height: 1px;
  margin: 0 0 $gap-normal;
}

footer {
  width: $width-sidebar;
  float: left;
  position: fixed;
  bottom: $gap-large;
  -webkit-font-smoothing: subpixel-antialiased;
}

@media print, screen and (max-width: 960px) {
  body {
    padding: 0 $gap-normal $gap-normal $gap-normal;
    word-wrap: break-word;
  }

  div.wrapper {
    max-width: $width-section;
    margin: auto;
    width: auto;
  }

  header, section, footer {
    float: none;
    position: static;
    max-width: $width-section;
  }

  header {
    width: 100%;

    nav {
      flex-direction: row;
    }
  }

  section {
    border: 1px solid $color-gray;
    border-width: 1px 0;
    padding: $gap-normal 0;
    margin: 0 0 $gap-normal;
    width: auto;
  }
}

