<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <meta property="og:image" content="https://kinetic.reviews/assets/img/warrior.jpg" />
    <link rel="stylesheet" href="/assets/css/style.css">
    {% include head-custom.html %}
  </head>
  <body>
    <header>
      <a href="/">
        <img src="/assets/img/warrior.jpg" alt="Logo" />
      </a>

      <small>{{ site.description | default: site.github.project_tagline }}</small>

      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <div>
          <a href="https://twitter.com/Madeline_Zimm"><img src="/assets/img/twitter.svg" alt="Twitter" /></a>
          <a href="https://www.linkedin.com/in/madeline-zimmerman"><img src="/assets/img/linkedin.svg" alt="LinkedIn" /></a>
        </div>
      </nav>
    </header>
    <section>

    {{ content }}

    </section>
    <footer>
      <small>© {{ "now" | date: "%Y" }}</small>
    </footer>
  </body>
</html>
