<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <meta property="og:image" content="https://kinetic.reviews/assets/img/warrior.jpg" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
    {% include head-custom.html %}
  </head>
  <body>
    <header>
      <a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/assets/img/warrior.jpg" alt="Logo" />
      </a>

      <small>{{ site.description | default: site.github.project_tagline }}</small>

      <nav>
        <a href="{{ site.baseurl }}/">Home</a>
        <a href="{{ site.baseurl }}/about">About</a>
        <a href="https://twitter.com/Madeline_Zimm"><img src="{{ site.baseurl }}/assets/img/twitter.svg" alt="Twitter" /></a>
        <a href="https://www.linkedin.com/in/madeline-zimmerman"><img src="{{ site.baseurl }}/assets/img/linkedin.svg" alt="LinkedIn" /></a>
        <a href="{{ site.baseurl }}/feed.xml"><img src="{{ site.baseurl }}/assets/img/feed.svg" alt="Feed" /></a>
      </nav>
    </header>
    <section>

    {{ content }}

    </section>
    <footer>
      <small>© {{ "now" | date: "%Y" }}</small>
    </footer>
  </body>
</html>
