---
layout: default
---

<h1>
  {{ page.title }} {% if page.year %}<span>({{ page.year }})</span>{% endif %}
</h1>

{% if page.author %}
<p>
  <div>Written by {{ page.author }}</div>
  <div>Reviewed by {{ site.author }}</div>
</p>
{% else %}
<p>By {{ site.author }}</p>
{% endif %}

{{ content }}

<p>
  <div><small>date: {{ page.date | date_to_string }}</small></div>
  {% if page.tags %}<div><small>tags: <em>{{ page.tags | join: ", " }}</em></small></div>{% endif %}
  {% if page.links %}<div><small>links: {% for link in page.links %}<a href="{{ link.url }}">{{ link.name }}</a>{%- if forloop.index < forloop.length -%},{%- endif -%}{% endfor %}</small></div>{% endif %}
  <div><small><a href="{{ site.baseurl }}/">back</a></small></div>
</p>

{% include postnav.html %}
